In [ ]:
# master county table:
# import the data from *whatever form it is in* - Di and Thea - done by Tuesday

# once the data is imported everyone can feel free to work on the data independently 

# find a data source for every county in the us - Di and Thea - done by Tuesday
# create a master county table with "state" and "county" which will be referenced by the other tables for their keys - Di and Thea  - done by Tuesday
# primary key is county and state, combined - Di and Thea  - done by Tuesday

In [5]:
# zillow steps to take:

# import the data from csv - Randy and Elsa - done by Tuesday
import pandas as pd

zillow_data = "Resources/price.csv"
df = pd.read_csv(zillow_data)
df.head()



# get rid of the city and city code and metro (column a b and c) - Mark and Anthony - done by Tuesday
df_1 = df.drop(['City Code', 'City', 'Metro'], axis=1)
#df_1

# get rid of population rank - Mark and Anthony - done by Tuesday
df_2 = df_1.drop('Population Rank', axis=1)
df_2

# format column headers for readability - Mark and Anthony - done by Tuesday

,County,State,Nov-10,Dec-10,Jan-11,Feb-11,Mar-11,Apr-11,May-11,Jun-11,...,Apr-16,May-16,Jun-16,Jul-16,Aug-16,Sep-16,Oct-16,Nov-16,Dec-16,Jan-17
0,Anchorage,AK,NaN,NaN,NaN,NaN,1787.0,1798.0,1806.0,1813.0,...,1966,1960,1951,1937,1925,1916,1912,1907,1903,1900
1,Matanuska Susitna,AK,NaN,NaN,NaN,NaN,1581.0,1576.0,1585.0,1597.0,...,1757,1761,1767,1767,1763,1753,1735,1715,1703,1692
2,Fairbanks North Star,AK,NaN,NaN,NaN,NaN,1554.0,1534.0,1532.0,1526.0,...,1721,1735,1740,1721,1708,1705,1716,1716,1710,1701
3,Matanuska Susitna,AK,NaN,NaN,NaN,NaN,1571.0,1552.0,1542.0,1539.0,...,1736,1735,1729,1716,1697,1678,1654,1638,1621,1603
4,Kenai Peninsula,AK,NaN,NaN,NaN,NaN,1533.0,1500.0,1484.0,1481.0,...,1406,1413,1419,1430,1443,1445,1422,1401,1373,1351
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13126,Natrona,WY,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1709,1681,1646,1610,1591,1585,1600,1601,1577,1543
13127,Laramie,WY,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1406,1379,1354,1318,1281,1257,1247,1227,1207,1207
13128,Laramie,WY,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1405,1364,1329,1289,1262,1254,1259,1256,1251,1268
13129,Big Horn,WY,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1063,1052,1040,1017,991,954,920,893,889,897
13130,Natrona,WY,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1326,1308,1296,1293,1280,1260,1233,1205,1184,1176

In [ ]:
# evictionlab data steps to take:

# import the data from csv - Sidneyh and Harsh and Jason - done by Tuesday

# once the data is imported everyone can feel free to work on the data independently

#----------- TRANSFORM - clean the data -------------
# update county and state info to match master table in anticipation of making this the foreign key - Sidneyh and Harsh and Jason - done by Tuesday

# change column names to be more descriptive AND format for : - Scout and Wesley - done by Tuesday
## poverty rate - change to percentage below poverty line - S and W - done by Tuesday
## race - change to be clear (nh-pi should be native hawaiian or pacific islander) - S and W - done by Tuesday
## pct.other - add "race" so it's clear what this column is referenceing - pct other race - S and W - done by Tuesday
## add "_pct" or similar to every column that is a percentage - S and W - done by Tuesday

# get rid of last three columns - y thru aa - "low flag" "imputed" and "subbed" - all zeros - S and W - done by Tuesday

#---------- LOAD ------------
# key is foreign key - county and state, combined - references "master county table"
## update county and state information to match master table - keep full state name
## then create foreign key

# compare this median.gross.rent to rent information from zillow

In [ ]:
# database to-do list:
# inital database design - Prashanth - "done" by Tuesday
# framework to load data into the database (something something sqlalchemy something something) - Prashanth - "done" by Tuesday